**Initialization**
- I use these three lines of code on top of my each notebooks because it will help to prevent any problems while reloading the same project. And the third line of code helps to make visualization within the notebook.

In [1]:
#@ INITIALIZATION: 
%reload_ext autoreload
%autoreload 2
%matplotlib inline

**Downloading Libraries and Dependencies**
- I have downloaded all the libraries and dependencies required for the project in one particular cell.

In [7]:
#@ IMPORTING MODULES: UNCOMMENT BELOW:
# !pip install transformers[sentencepiece]
from transformers import pipeline
import pandas as pd

#@ IGNORING WARNINGS: 
import warnings
warnings.filterwarnings("ignore")

**Note:**
- **Encoder & Decoder:** The job of encoder is to encode the information from the input sequence into a numerical representation which is then passed to the decoder which generates the output sequence.

**Text Classification**

In [9]:
#@ INITIALIZING TEXT CLASSIFICATION:
text = """Dear Amazon, last week I ordered an Optimus Prime action figure
from your online store in Germany. Unfortunately, when I opened the package,
I discovered to my horror that I had been sent an action figure of Megatron
instead! As a lifelong enemy of the Decepticons, I hope you can understand my
dilemma. To resolve the issue, I demand an exchange of Megatron for the
Optimus Prime figure I ordered. Enclosed are copies of my records concerning
this purchase. I expect to hear from you soon. Sincerely, Bumblebee."""             # Initialization.
classifier = pipeline("text-classification")                                        # Initializing pretrained classifier.
outputs = classifier(text)                                                          # Getting classifier predictions. 
pd.DataFrame(outputs)                                                               # Creating a dataframe.

No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english)

      label     score
0  NEGATIVE  0.901546

**Named Entity Recognition**
- In NLP, real-world objects such as products, places and people are called **named entities** and extracting them from text is called **named entity recognition**.

In [12]:
#@ INITIALIZING NAMED ENTITY RECOGNITION:
ner_tagger = pipeline("ner", aggregation_strategy="simple")                         # Initializing pretrained ner model. 
outputs = ner_tagger(text)                                                          # Getting named entities.
pd.DataFrame(outputs)                                                               # Creating a dataframe.

No model was supplied, defaulted to dbmdz/bert-large-cased-finetuned-conll03-english (https://huggingface.co/dbmdz/bert-large-cased-finetuned-conll03-english)

  entity_group     score           word  start  end
0          ORG  0.879010         Amazon      5   11
1         MISC  0.990859  Optimus Prime     36   49
2          LOC  0.999755        Germany     90   97
3         MISC  0.556570           Mega    208  212
4          PER  0.590256         ##tron    212  216
5          ORG  0.669692         Decept    253  259
6         MISC  0.498349        ##icons    259  264
7         MISC  0.775362       Megatron    350  358
8         MISC  0.987854  Optimus Prime    367  380
9          PER  0.812096      Bumblebee    502  511

**Question Answering**
- In question answering, we provide the model with a passage of text called the context, along with a question whose answer we'd like to extract. The model then returns the sequence of text corresponding to the answer.

In [14]:
#@ INITIALIZING QUESTION ANSWERING:
reader = pipeline("question-answering")                         # Initializing pretrained model.
question = "What does the customer want?"                       # Initializing a question.
outputs = reader(context=text, question=question)               # Getting the answer. 
pd.DataFrame([outputs])                                         # Creating a dataframe.

No model was supplied, defaulted to distilbert-base-cased-distilled-squad (https://huggingface.co/distilbert-base-cased-distilled-squad)

      score  start  end                   answer
0  0.631292    335  358  an exchange of Megatron

**Summarization**
- The goal of text summarization is to take a long text as input and generate a short version with all the relevant facts and information.

In [18]:
#@ INITIALIZING TEXT SUMMARIZATION:
summarizer = pipeline("summarization")                      # Initializing pretrained model.
outputs = summarizer(text, max_length=57,
                     clean_up_tokenization_spaces=True)     # Getting the summary of text.
print(outputs[0]["summary_text"])                           # Inspecting summary of text.

No model was supplied, defaulted to sshleifer/distilbart-cnn-12-6 (https://huggingface.co/sshleifer/distilbart-cnn-12-6)

 Bumblebee ordered an Optimus Prime action figure from your online store in Germany. Unfortunately, when I opened the package, I discovered to my horror that I had been sent an action figure of Megatron instead. As a lifelong enemy of the Decepticons, I hope

**Translation**

In [20]:
#@ INITIALIZING TRANSLATION: 
translator = pipeline("translation_en_to_de", model="Helsinki-NLP/opus-mt-en-de")       # Initializing pretrained translator.
outputs = translator(text, clean_up_tokenization_spaces=True, min_length=100)           # Initializing translation.
print(outputs[0]["translation_text"])                                                   # Inspecting translated text.

Sehr geehrter Amazon, letzte Woche habe ich eine Optimus Prime Action Figur aus Ihrem Online-Shop in Deutschland bestellt. Leider, als ich das Paket öffnete, entdeckte ich zu meinem Entsetzen, dass ich stattdessen eine Action Figur von Megatron geschickt worden war! Als lebenslanger Feind der Decepticons, Ich hoffe, Sie können mein Dilemma verstehen. Um das Problem zu lösen, Ich fordere einen Austausch von Megatron für die Optimus Prime Figur habe ich bestellt. Anbei sind Kopien meiner Aufzeichnungen über diesen Kauf. Ich erwarte, bald von Ihnen zu hören. Aufrichtig, Bumblebee.

**Text Generation**

In [22]:
#@ INITIALIZING TEXT GENERATION:
generator = pipeline("text-generation")                                                 # Initializing text generator.
response = "Dear Bumblebee, I am sorry to hear that your order was mixed up."           # Initializing text.
prompt = text + "\n\nCustomer service response:\n" + response
outputs = generator(prompt, max_length=200)                                             # Generating response.
print(outputs[0]["generated_text"])                                                     # Inspecting generated text.

No model was supplied, defaulted to gpt2 (https://huggingface.co/gpt2)
Setting `pad_token_id` to `eos_token_id`:50256 for open-end generation.

Dear Amazon, last week I ordered an Optimus Prime action figure
from your online store in Germany. Unfortunately, when I opened the package,
I discovered to my horror that I had been sent an action figure of Megatron
instead! As a lifelong enemy of the Decepticons, I hope you can understand my
dilemma. To resolve the issue, I demand an exchange of Megatron for the
Optimus Prime figure I ordered. Enclosed are copies of my records concerning
this purchase. I expect to hear from you soon. Sincerely, Bumblebee.

Customer service response:
Dear Bumblebee, I am sorry to hear that your order was mixed up. The correct order number was: M7-02-0120. This is the correct order number.

Your previous email message was about a package that had already been received. Please correct the misunderstanding.

After reviewing your responses and checking the products, I can confirm that the